* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body {
    display: inline;
}

.header {
    text-align: center;
    background-color: #402315;
    height: 50px;
    color: white;
    font-size: 12px;
    align-content: center;
}

.item-container {
    margin-top: 50px;
    margin-left: 30px;
    display: flexbox;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    background-color:#eee2d6;
    width: 39rem;
    height: 17rem;
    border-radius: 10px;
    padding-bottom: 50px;
}

hr {
    border-top: 2px solid #e2d2c3;
}

.first-item {
    display: inline;
}






