* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body {
    display: inline;
}

.header {
    text-align: center;
    background-color: #402315;
    height: 50px;
    color: white;
    font-size: 12px;
    align-content: center;
}

.item-container {
    display: flexbox;
    margin-left: 20px;
    margin-top: 100px;
    background-color:#eee2d6;
    width: 35rem;
    height: 17rem;
    border-radius: 10px;
}

hr {
    border-top: 2px solid #e2d2c3;
}

.first-item .items {
    color: #b88e6a;
    margin-left: 14px;
}



