* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background: rgb(48,130,161);
    background: linear-gradient(90deg, rgba(48,130,161,1) 0%, rgba(32,32,128,1) 35%, rgba(0,212,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 255px; 
}

.login-container {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 280px;
    
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    
}

input {
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.80rem;
}

button {
    height: 30px;
    width: 200px;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 150px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: green;
    color: white;
}

.forgot-password{
    margin-top: 1rem;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
}

